<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>フォーム</title>
    </head>
    <body>
        <p>よくわかんないログインサービス</p>
        <p>ようこそ！わらわのログインサービスへ！</p>
        <a href="/profile">プロフィールに進む</a>
    </body>
</html>

