<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>フォーム</title>
    </head>
    <body>
        <p>よくわかんないログインサービス</p>
        <ul>
            <li>名前: <%= name %></li>
            <li>年齢: <%= age %></li>
        </ul>
    </body>
</html>

